[submodule "scikit-image"]
	path = scikit-image
	url = git://github.com/scikit-image/scikit-image.git
[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
